extends ./layout/index

block contenido
    main.container.mt-5 
        h1= pagina

        h3.text-center Nuestros doctores

        .row
            each doctor in doctores      
                .col-md-6.col-lg-4.mb4 
                    .card 
                        .card-body
                            blockquote.blockquote
                                p= JSON.stringify(doctores)
                                                                   

        .row 
            .col-md-5 
                img(src="img/img1.jpg", width='400px',class="img-fluid")
            .col-md-7
                form(action="/" method="POST") 
                        .form-group 
                            label(for="nombres") Nombre 
                            input#nombre(type="text", placeholder="Nombre", name="nombres", class="form-control", required) 

                        .form-group 
                            label(for="apellidos") Apellido
                            input#nombre(type="text", placeholder="Apellido", name="apellidos", class="form-control", required )

                        .form-group 
                            label(for="especialidad") Especialidad 
                            <select class="form-control form-control" name="especialidad"  >
                                <option>Especialidad</option>
                                <option>Medicina General</option>
                                <option>Medicina Interna</option>
                                <option>Dermatología</option>
                                <option>Rehabilitación física</option>
                                <option>Psicología</option>
                                <option>Odontología</option>
                                <option>Radiología</option>
                            </select>

                        .form-group 
                            label(for="consultorio") Consultorio 
                            input#nombre(type="text", placeholder="Consultorio", name="consultorio", class="form-control", required) 

                        .form-group 
                            label(for="email") Email 
                            input#nombre(type="text", placeholder="Email", name="email", class="form-control", required) 
                        
                        input.btn.btn-success.btn-block(type="submit")
                        





                