extends ./layout/index

block contenido
    main.container.mt-5 
        h1= pagina
        .row 
            .col-md-5 
                img(src="img/pacientes.jpg", width='400px',class="img-fluid")
            .col-md-7           
                form(action="/" method="POST") 
                        .form-group 
                            label(for="nombres") Nombre 
                            input#nombre(type="text", placeholder="Nombre", name="nombres", class="form-control", required) 

                        .form-group 
                            label(for="apellidos") Apellido
                            input#nombre(type="text", placeholder="Apellido", name="apellidos", class="form-control", required)

                        .form-group 
                            label(for="documento") Documento de identidad 
                            input#nombre(type="text", placeholder="Documento", name="documento", class="form-control", required) 

                        .form-group 
                            label(for="edad") Edad 
                            input#nombre(type="text", placeholder="Edad", name="edad", class="form-control", required)
                            
                        .form-group 
                            label(for="especialidad") Especialidad 
                            <select class="form-control form-control" name="especialidad"  >
                                <option>Especialidad</option>
                                <option>Medicina General</option>
                                <option>Medicina Interna</option>
                                <option>Dermatología</option>
                                <option>Rehabilitación física</option>
                                <option>Psicología</option>
                                <option>Odontología</option>
                                <option>Radiología</option>
                            </select>
                        
                        .form-group 
                            label(for="email") Teléfono 
                            input#nombre(type="text", placeholder="Teléfono", name="telefono", class="form-control", required) 
                        
                        input.btn.btn-success.btn-block(type="submit")
                        




