footer.container.py-5 
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start 
                a.nav-link(href="/pacientes") Pacientes
                a.nav-link(href="/citas") Citas
  


        .col
            p.copyright.text-center.text-md-right 
                |Todos los derechos reservados 
                span= actualYear