main.container.mt-5 
        .listado-iconos 
            .container.mt-2.py-2.text-center
                .row 
                    .col-md-4
                        img(src="img/icono_seguridad.svg",class="img-fluid mb-4" alt="icono seguridad")
                        h2.mb-4 Seguridad en sus datos
                        p Nam auctor dui in felis sagittis gravida. Sed euismod dictum sem in tempus. Nunc et fermentum enim.
                    
                    .col-md-4
                        img(src="img/icono_destinos.svg",class="img-fluid mb-4" alt="icono ubicacion")
                        h2.mb-4 Nuestra Ubicación
                        p Nam auctor dui in felis sagittis gravida. Sed euismod dictum sem in tempus. Nunc et fermentum enim.

                    .col-md-4
                        img(src="img/icono_precios.svg",class="img-fluid mb-4" alt="icono precios")
                        h2.mb-4 Los mejores precios
                        p Nam auctor dui in felis sagittis gravida. Sed euismod dictum sem in tempus. Nunc et fermentum enim.